{% extends 'base.html' %}
{%load static%}
{% block title%}Detail{%endblock%}
{% block content%}

<body class = "text-center">

<div style="align-content: center;">
  <img src="{{post.image.url}}" alt="centered image" />
</div>

<br>

<table class="table">
    <thead>
      <tr>
        <th scope="col">판매자</th>
        <th scope="col">{{post.user.username}}</th>
      </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">제목</th>
        <td>{{post.title}}</td>
      </tr>
      <tr>
        <th scope="row">올린 날짜</th>
        <td>{{post.pub_date}}</td>
      </tr>
      <tr>
        <th scope="row">학교</th>
        <td>{{post.user.signup.college}}</td>
      </tr>
    </tbody>
  </table>
  
  <p class="h6">책 설명 (한줄 설명)</p>
  <br>
  <p>{{post.body}}</p>
  <br>
  <form action="{% url 'detail' post.id %}" method = "POST">
      {% csrf_token %}
      <input type="text" name = "comment" placeholder="댓글 달기">
      <input type="submit" value="등록">
  </form>
  <br>
  <h3>댓글</h3>
  <br>
  {% for i in comment %}
    <h4><span>{{i.user.username}}: </span>&nbsp;<span>{{i.body}}</span>&nbsp;<span>{{i.pub_date}}</span></h4>
  {% endfor %}
</body>

{% endblock %}
